.header {
  display: flex;
  /* height: 70px; */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: arial;
  background-color: #fff;
  border-bottom: 1px solid rgb(228, 159, 10);
}

.skills-header {
  background-color: rgba(255, 0, 0, 0);
}

.left {
}

.left a {
  display: flex;
}

.header img {
  height: 70px;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}

.skills-link {
  text-decoration: none;
  color: black;
}

.underline {
  text-decoration: underline;
}

.technologies {
  color: rgb(228, 159, 10);
  font-weight: 600;
}

.right {
  padding-right: 20px;
}

.right button {
  padding: 10px 12px;
  border: none;
  background-color: rgb(228, 159, 10);
}
