.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: arial;
  background-color: rgb(254, 243, 223);
  border-bottom: 1px solid rgb(228, 159, 10);
}

.left {
}
.header img {
  height: 79px;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}

.underline {
  text-decoration: underline;
}

.technologies {
  color: rgb(228, 159, 10);
  font-weight: 600;
}

.right {
  padding-right: 20px;
}

.right button {
  padding: 10px 12px;
  border: none;
  background-color: rgb(228, 159, 10);
}
