.introduction-container {
  display: flex;
  padding-left: 40px;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.front-end {
  display: block;
}
.text {
  width: 400px;
  padding-right: 40px;
  /* background-color: blue; */
}

.front-end {
  font-weight: 700;
  padding-bottom: 20px;
}

.hello {
  font-size: 30px;
  font-weight: 700;
}

.introduction {
  font-size: 16px;
  color: rgb(36, 36, 36);
}

.text button {
  margin-top: 40px;
  font-size: 14px;
  padding: 10px 15px;
  margin-right: 20px;
  border: none;
}

.text button:hover {
  opacity: 0.75;
  transition: 0.15;
}

.contact-button {
  background-color: rgb(228, 159, 10);
  color: black;
  box-shadow: -5px 5px 0px 0px rgba(0, 0, 0, 1);
}

.learn-button {
  background-color: black;
  color: white;
}

.image-container img {
  width: 600px;
  margin-right: 200px;
  border-radius: 400px;
}

.page-2 {
  display: flex;
  padding-left: 40px;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.left-side {
  width: 50%;
  padding-left: 50px;
}

.skills {
  font-size: 70px;
  font-weight: 700;
  color: rgb(228, 159, 10);
  width: 60%;
}

.intro-2 {
  color: gray;
  width: 50%;
  margin-top: 30px;
}

.topics {
  margin-top: 50px;
}

.topic-1 {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.topics-childs {
  color: gray;
}

.triangle {
  color: rgb(228, 159, 10);
  margin-right: 10px;
}

.right-side {
  width: 50%;
}

.container-stats {
  width: 60%;
  background-color: rgb(182, 181, 181);
  color: rgb(182, 181, 181);
  border-radius: 5px;
}

.stats-front {
  font-size: 7px;
  margin-top: 10px;
  background-color: rgb(228, 159, 10);
  width: 50%;
  border-radius: 5px;
}

.stats-2 {
  font-size: 7px;
  margin-top: 10px;
  background-color: rgb(228, 159, 10);
  width: 10%;
  border-radius: 5px;
}

.stats-3 {
  font-size: 7px;
  margin-top: 10px;
  background-color: rgb(228, 159, 10);
  width: 80%;
  border-radius: 5px;
}

.stats-4 {
  font-size: 7px;
  margin-top: 10px;
  background-color: rgb(228, 159, 10);
  width: 30%;
  border-radius: 5px;
}

.stat-text {
  color: white;
  margin-top: 40px;
}

.container-box {
  position: relative;
  height: 250px;
  width: 60%;
  margin-top: 50px;
  background-color: rgb(92, 92, 92);
  color: white;
  padding: 10px;
  box-shadow: 0px 0px 14px 0px rgba(59, 59, 59, 0.75);
}

.container-title {
  font-size: 40px;
  font-weight: 700;
}

.school {
  font-size: 15px;
}

.date {
  margin-top: 3px;
  font-size: 10px;
}

.info {
  position: absolute;
  bottom: 60px;
  width: 50%;
}
