.introduction-container {
  display: flex;
  padding-left: 40px;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(254, 243, 223);
}

.front-end {
  font-size: 30px;
}
.text {
  width: 500px;
  padding-right: 40px;
  /* background-color: blue; */
}

.front {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  animation: rotateinleft 1s ease-in;
}

.stripe {
  width: 170px;
  height: 3px;
  background-color: black;
  font-size: 3px;
  margin-right: 10px;
}

.front-end {
  font-weight: 700;
}

.hello {
  font-size: 60px;
  font-weight: 700;
  animation: rotateinright 1s ease-in;
}

.introduction {
  font-size: 16px;
  color: rgb(36, 36, 36);
}

@keyframes rotateinleft {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes rotateinright {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.btn:link,
.btn:visited {
  margin-top: 40px;
  font-size: 14px;
  padding: 10px 15px;
  margin-right: 20px;
  border: none;
  display: inline-block;
  text-decoration: none;
  transition: 0.2s;
}

.btn-yellow {
  background-color: rgb(228, 159, 10);
  color: black;
  box-shadow: -5px 5px 0px 0px rgba(0, 0, 0, 1);
}

.btn-yellow:hover {
  opacity: 0.75;
}

.btn-yellow:active {
  transform: translateX(-5px) translateY(5px);
  box-shadow: none;
}

.btn-learn {
  background-color: black;
  color: white;
}

.btn-learn:hover {
  opacity: 0.75;
}

.image-container img {
  width: 600px;
  margin-right: 200px;
  border-radius: 400px;
}
